crm/.env
crm/vendor/
crm/node_modules/
api/.env
.idea
_ide_helper.php
/nbproject/
/storage/zip/
/node_modules
crm/storage/lang
crm/storage/cronSchedulerJob.json
crm/public/dist
crm/public/mix-manifest.json
crm/storage/vtw-integration-file
.phpunit.result.cache
**/storage/framework/laravel-excel
.DS_Store
crm/.access-token
**/storage/fd_groups.*
vendor/**/*
!vendor/.gitkeep
api/.access-token
api/storage/reference/*
pn-cactuscrm-9c0d3.json